<article class="media box">
  <figure class="media-left">
    <p class="image is-64x64">
         
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <h2 class="title">User: </h2>
      <p>
        <%= @user.name%>
        <br>
        <%= @user.username %>
        <br>
        <%= @user.email%>
      </p>
    </div>
  </div>
</article>