<div class="container">
  <div class="message mt-4">
    <div class="message-header">Upcoming events: </div>
    <div class="message-body">
      <% if @events.upcoming.any? %>
        <%= render @events.upcoming %>
      <% else %>
        There aren't any upcoming events.
      <% end %>
    </div>
  </div>

  <div class="message mt-4">
    <div class="message-header">Past events: </div>
    <div class="message-body">
      <% if @events.past.any? %>
        <%= render @events.past %>
      <% else %>
        There aren't any upcoming events.
      <% end %>
    </div>
  </div>
</div>
