<div class="section">
  <div class="container box">
    <h1 class="title">Create new event</h1>

    <%= form_with model: @event do |f| %>
      <%= f.label :description, class: "label"%>
    <% end %>
  </div>
</div>
