    <div class="content">
      <p>
         <%= @event.creator.name%>
        <strong><small><%= @event.creator.username %></small></strong>
        <br>
        <%= @event.creator.email%>
      </p>
    </div>